.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px 2vw;
  background-color: var(--background-second);
  color: var(--nav);
}

.sidebar-toggle {
  font-size: 2em;
  color: var(--nav);
  background-color: transparent;
  border: none;
  margin-bottom: 1vh;
  transition: 0.5s;
}

.sidebar-toggle:hover {
  color: var(--text-hover);
}

.colormode-toggle {
  background-color: transparent;
  border: none;
  color: var(--nav);
  font-size: 1.5em;
  margin-top: 2vh;
  transition: 0.5s;
}

.colormode-toggle:hover {
  color: var(--text-hover);
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px 10vw 20px 2vw;
  background-color: var(--background-second);
  color: var(--nav);
  overflow-x: hidden;
  transition: 0.5s;
}

.nav-container .sidebar-toggle {
  width: min-content;
}

.nav-list {
  margin: 20px 0;
  transition: 0.5s;
}

.nav-list:hover {
  color: var(--text-hover);
  margin-left: 0.5vw;
  cursor: pointer;
}

.nav-open {
  right: 0;
}

.nav-closed {
  right: -320px;
}

@media (max-width: 767px) {
  .sidebar-container {
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    bottom: auto;
  }
  .sidebar-toggle,
  .colormode-toggle {
    font-size: 1.2em;
    margin: 0 1vw;
  }
  .nav-container {
    left: 0;
    bottom: auto;
    z-index: 9;
  }
  .nav-open {
    top: 0;
  }
  .nav-closed {
    right: 0;
    top: -320px;
  }
  .nav-list {
    margin-left: 5vw;
    font-size: 0.8em;
  }
  .nav-list:nth-child(1) {
    margin-top: 5vh;
  }
  .nav-list:hover {
    margin-left: 7vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar-container {
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    bottom: auto;
  }
  .sidebar-toggle,
  .colormode-toggle {
    font-size: 1.5em;
    margin: 0 1vw;
  }
  .nav-container {
    left: 0;
    bottom: auto;
    z-index: 9;
  }
  .nav-open {
    top: 0;
  }
  .nav-closed {
    right: 0;
    top: -320px;
  }
  .nav-list {
    margin-left: 2vw;
    font-size: 1em;
  }
  .nav-list:nth-child(1) {
    margin-top: 4vh;
  }
  .nav-list:hover {
    margin-left: 3vw;
  }
}
