body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

:root {
  --background-primary: #121212;
  --background-second: #1d1d1d;
  --background-third: #222222;
  --text-primary: whitesmoke;
  --text-secondary: #14ffec;
  --accent: gray;
  --nav: #eeeeee;
  --text-hover: #14ffec;
}

[data-theme="light"] {
  --background-primary: #f5f5f5;
  --background-second: #e6e6e6;
  --background-third: #cccccc;
  --text-primary: #121212;
  --text-secondary: #990000;
  --accent: #cc6666;
  --nav: #121212;
  --text-hover: #cc6666;
}

.main-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--accent);
}
::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins/Poppins-Regular.ttf),
    format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
