body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

:root {
  --background-primary: #121212;
  --background-second: #1d1d1d;
  --background-third: #222222;
  --text-primary: whitesmoke;
  --text-secondary: #14ffec;
  --accent: gray;
}

[data-theme="light"] {
  --background-primary: #white;
  --background-second: #ffe6e6;
  --background-third: #ffb3b3;
  --text-primary: black;
  --text-secondary: #990000;
  --accent: gray;
}

.main-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: grey;
}
::-webkit-scrollbar-thumb {
  background: #14ffec;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins/Poppins-Regular.ttf),
    format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
